.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.homeButtons{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: transparent;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.one{
    border:none;
    font-size: large;
    font-weight: bold;
    color: white;
    background-color: transparent;

}